
*{
    margin: 0px;
}

.common-button{
    background-color: blue;
    color: aliceblue;
    border: 1px solid black;
  
}
.common-button:hover
{
    background-color: rgb(60, 62, 63);
    cursor: pointer;
}

/* Navigation Start */
nav
{
    /* background-color:aqua; */
    max-width: 1200px;
    margin: auto;
       height: 100px;
}
nav .navigation-content{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center; 
    padding-top: 20px;
    height: 50px;
}
nav .option ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav .option ul li a{
    font-size: 25px;
    font-weight: 500;
}
nav .option ul li:hover{
    cursor: pointer;
}

nav .option ul li a{
    text-decoration: none;
}
nav .reg-button{
    padding-left: 200px; 
}
nav .reg-button button{
     width: 150px;
     height: 50px;
     font-size: 15px;
     font-weight: 700;
     border-radius: 10px;
}
nav .navigation-content .logo{
    padding-right: 200px;
}

/* Navigation End */


/* Hero section Start */


.hero-section
{
    /* height: 600px; */
    /* max-width: 1200px; */
    margin: auto;
}
.hero-section-content{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/banner.jpg');
    /* height: 1200px; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    background-position: center;
    /* border-radius: 20px; */
    margin-bottom: 50px;
}
.hero-section .hero-section-content h1,.hero-section .hero-section-content p{
    color: aliceblue;
}
.hero-section .hero-section-content h1{
    padding-top: 150px;
    padding-bottom: 40px;
    font-size: 70px;
    font-weight: 900;
}
.hero-section .hero-section-content p
{
    padding: 0px 400px;
    padding-bottom: 200px;
    font-size: 25px;
}
.hero-section .hero-section-content
{
    text-align: center;
}
.hero-section .hero-section-content button{
    padding: 20px;
    font-size: 15px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    
}


/* Hero section end */

/* Meet the seaker section  start */

.meet-the-speaker-section{
    max-width: 1320px;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 50px;
   
}
.meet-the-speaker-section .all-speaker{
    padding-top: 50px;
}
.meet-the-speaker-section .text-content h1{
     text-align: center;
    font-size: 60px;
    font-weight: 900
}
.meet-the-speaker-section .all-speaker{
    display: grid;
    grid-template-columns: repeat(2,0.2fr);
    gap: 40px;
  
}
.meet-the-speaker-section .all-speaker{
    margin-left: 40px !important;
}
.meet-the-speaker-section .all-speaker .speaker img{
        width: 600px;
        border-radius: 15px;
      
}
.meet-the-speaker-section .all-speaker .speaker{
    border: 1px solid;
    width: 600px;
    border-radius: 15px;
    background-color: rgb(248, 246, 246);
   

}

.meet-the-speaker-section .all-speaker .speaker div{
    padding: 30px;
}
.meet-the-speaker-section .all-speaker .speaker div .first-one{
    padding-bottom: 15px;
    padding-left: 8px;
    color: rgb(4, 0, 252);
    font-size: 17px;
}

/* Meet the speaker section end */

/* Pricing section start */

.Pricing-section .text-section
{
    text-align: center;

    padding-bottom: 80px;
    padding-top: 80px;
}

.Pricing-section .text-section h1{
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
}

.Pricing-section .Pricing-content{
    max-width: 1320px;
    height: 300px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 250px;

    display: flex;
   justify-content: space-between;
}
.Pricing-section .Pricing-content .box{
    /* background-color: red; */
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
.Pricing-section .Pricing-content .box div{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.Pricing-section .Pricing-content .box div h4{
    padding-top: 10px;
}
.Pricing-section .Pricing-content .box div hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Pricing-section .Pricing-content .box-m{
    background-color: rgb(240, 237, 231);
}
.Pricing-section .Pricing-content .box-s{
    background-color: rgb(27, 25, 25);
}
.Pricing-section .Pricing-content .box-s div{
    color: aliceblue;
}

.Pricing-section .Pricing-content .box div button
{
    margin-left: 20px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    border: 1px solid wheat;
}

/* Pricing section start */