
*{
    margin: 0px;
}

.common-button{
    background-color: blue;
    color: aliceblue;
    border: 1px solid black;
  
}
.common-button:hover
{
    background-color: rgb(60, 62, 63);
    cursor: pointer;
}

/* Navigation Start */
nav
{
    /* background-color:aqua; */
    max-width: 1200px;
    margin: auto;
       height: 100px;
}
nav .navigation-content{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center; 
    padding-top: 20px;
    height: 50px;
}
nav .option ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav .option ul li a{
    font-size: 25px;
    font-weight: 500;
}
nav .option ul li:hover{
    cursor: pointer;
}

nav .option ul li a{
    text-decoration: none;
}
nav .reg-button{
    padding-left: 200px; 
}
nav .reg-button button{
     width: 150px;
     height: 50px;
     font-size: 15px;
     font-weight: 700;
     border-radius: 10px;
}
nav .navigation-content .logo{
    padding-right: 200px;
}

/* Navigation End */


/* Hero section Start */


.hero-section
{
    /* height: 600px; */
    /* max-width: 1200px; */
    margin: auto;
}
.hero-section-content{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/banner.jpg');
    /* height: 1200px; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    background-position: center;
    /* border-radius: 20px; */
    margin-bottom: 50px;
}
.hero-section .hero-section-content h1,.hero-section .hero-section-content p{
    color: aliceblue;
}
.hero-section .hero-section-content h1{
    padding-top: 150px;
    padding-bottom: 40px;
    font-size: 70px;
    font-weight: 900;
}
.hero-section .hero-section-content p
{
    padding: 0px 400px;
    padding-bottom: 200px;
    font-size: 25px;
}
.hero-section .hero-section-content
{
    text-align: center;
}
.hero-section .hero-section-content button{
    padding: 20px;
    font-size: 15px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    
}


/* Hero section end */
